@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
/*desktop 1440px*/
:root{
    --clr-text-pri-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --clr-text-pri-Soft-red: hsl(14, 88%, 65%);
    --clr-text-Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --clr-text-Dark-grayish-blue: hsl(240, 6%, 50%);
    --clr-backg-Soft-violet: hsl(273, 75%, 66%);
    --clr-backg-Soft-blue: hsl(240, 73%, 65%);
    --clr-dividers-Light-grayish-blue: hsl(240, 5%, 91%);
    --font-size:0.75;/*12px*/
    --font-family:'Kumbh Sans', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family:var(--font-family);
}
html{
    background:linear-gradient(var(--clr-backg-Soft-violet),var(--clr-backg-Soft-blue));
    width: auto;
    display: grid;
    align-content: center;
    justify-content: center;
}
body{width: 80%;
    
}
card{
    margin-top: 3rem;
width: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "image text";
    grid-template-rows: 1fr;
   
    border-radius: 2rem;
  
    background-color: white;

}
#image-panel{
    padding: 0rem 2rem 0rem 0rem;
    grid-area: image;
    background-image: url(./images/bg-pattern-desktop.svg);
   background-position-x: 110%;
   background-position-y:80%;
   margin-right: 3rem;
   padding-top:1rem;
   background-repeat: no-repeat;
   display: grid;
   justify-content: center;
   align-content: center;
 
    
}
#womanPicture{
    position: relative;
    right: 10%;
    top:-40%;
   
 
}
#box{
    position: relative;
    top:95%;
    right:21%;
    z-index: 2;
    padding:0;
    


}
#text-panel{
    padding: 2rem 6rem 2rem 3rem;
    grid-area: text;
}
h1{
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
   margin-top:2rem;
    margin-bottom:2rem;
    
}
img{
    padding:0.5rem 0rem 0.5rem 0rem;
}
.answer, #answer1, #answer2, #answer3, #answer4, #answer5{
    /*visibility: hidden;*/
    display: none;
    transition: display 0.3s;
    padding:1rem 1rem 0rem 0rem;
}

.question_box{
    display: flex;
    justify-content: space-between;
    width:350px;
   
}
p{
    max-width: 350px;
}
.question,#question1,#question2,#question3,#question4,#question5{
    display: inline;
    cursor:pointer;
}
.question:hover{
    color: var(--clr-text-pri-Soft-red);
}
.selectedAnswer
{
    /*visibility: visible;*/
    display:block;
    
}
.selectedQuestion{
    font-weight: bold;
}
.selectedArrow
{
    transform:rotate(180deg);
}
.line{
    width: 100%;
  border-top: 1px solid var(--clr-dividers-Light-grayish-blue);

  margin-top:1rem;
  margin-bottom:1rem;
}

.attribution { 
    display:none;
    font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media(max-width:376px){
    html{
        display:grid;
        place-content: center;

    }
    body{
       display: grid;
       justify-content: center;
       width: 300px;
    
}
card{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas: "image"
         "text";
    justify-content: center;
    max-width: fit-content;
    width: 300px;
    margin-top:7rem;
    padding-bottom:1.2rem;
}
img{
    max-width: 12rem;
}
#image-panel{justify-self: center;
    position:static;}

#text-panel{
  width: 250px;
    padding:1rem 1rem 1rem 1rem;
    font-size:0.75rem;

}
.question_box{
    width:250px;
}
h1{
    text-align: center;
}
#womanPicture{
    position: absolute;
    right: 27%;
    top: 2%;
  
}
#box{
    position: absolute;
    width: 75px;
    top:12%;
    right:59%;
}

}
/*- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700*/
